header > h1 {
    color: green;
}

hr {
    border: 2px solid green;
}

table, th, td {
    border: 1px solid black;
    font-size: 20pt;
}

.users-list {
    text-align: center;
}

.user-detail-link {
    color: purple;
}

ol {
    font-size: 20pt;
    color: #FF00FF;
}

.add-new-user {
    font-size: 20pt;
    color: #FF00FF;
}

.add-app {
    font-size: 20pt;
    color: #FF00FF;
}

.errorlist {
    font-size: 18pt;
    color: red;
}

.user-form {
    font-size: 18pt;
}

div.user-detail {
    font-size:18pt;
}

div.app-detail{
    font-size: 18pt;
    color: black;
}

.remove-user {
    font-size: 20pt;
    color: red;
}

.remove-app {
    font-size: 20pt;
    color: red;
}